#loginForm{
    
    height: 200px;
}
#btn{
    /* transform: translateX(190%); */
    margin: 5px;
}
.label {
    display: block;
    margin: 2px;
}
.formInput {
    width: 80%;
    margin: 2px;
}
.divToShowAlert {
    position: fixed;
    top: 20px;
    left: 40%;
}